# Build & Test Output
build/
dist/
out/
lib/
storybook-static/
coverage/
docsTemp/
.turbo/
.swc/
stats.json
deploy.zip

# Classic node deps
node_modules/

.DS_Store

# Yarn v2 Gitignores - https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dotenv
.env.local